*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}
