.sidebar {
  flex: 0.3;
  flex-direction: column;
  display: flex;
  border-right: 1px solid rgb(211, 211, 211, 0.5);
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 20px;
}
.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
.sidebar__headerRight .sidebar__icon {
  margin-left: 2vw;
}
.sidebar__headerRight .MuiSvgIcon-root {
  font-size: 24px !important;
}

/* Search box Styling here */
.sidebar__search {
  border-bottom: 1px solid rgb(211, 211, 211, 0.5);
  display: flex;
  height: 45px;
  background-color: #f6f6f6;
  padding: 10px;
  align-items: center;
}
.sidebar__searchcontainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background-color: white;
}

.sidebar__searchcontainer .MuiSvgIcon-root {
  color: gray;
}
.sidebar__searchcontainer input {
  height: 20px;
  border: none;
  margin-left: 10px;
  outline: none;
}

/* SideBar chat styling Goes Here */
.sidebar__chat {
  flex: 1;
  background-color: #ffffff;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.sidebar__chat::-webkit-scrollbar {
  width: 7px;
  background: white;
}

.sidebar__chat::-webkit-scrollbar-thumb {
  background: rgba(145, 141, 141, 0.3);
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .sidebar__headerRight {
    min-width: 8vw;
  }
  .sidebar__headerRight .sidebar__icon {
    margin-left: 1vw;
  }
}
